/* .container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}

.button {
    margin-top: 4px;
    width: 100%;
    height: 30%;
    border-radius: 10px;
    background-color: #000000;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.enlace {

    padding-left: 28%;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.backgroundBox {
  width: 30%;
  height: 40%;
  background-color: #000000;
  border-radius: 10px;
  margin-left: 33%;
} */

.body {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.login {
  width: 100%;
  max-width: 250px;
  text-align: center;
}

.image {
  width: 50%;
  height: 50%;
  margin-top: 33%;
}

.topRightButton {
  margin: 1vw;
  top: 0;
  left: 0;
}

.butto {
  border: none;
  padding: 0;
  background: none;
  right: 0;
}
