.detailsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.col {
    max-width: 400px;
    margin: 15px;
    height: auto;
    height: 80%;
}

.movieImage {
    border-radius: 15px;
}

.movieDetails {
    font-size: 1.5rem;
}

.primero {
    margin-top: 0;
}

.commentsContainer {
    max-width: 840px;
	margin: 30px auto;
	background: #fff;
	border-radius: 8px;
	padding: 20px;
    border: rgb(111, 111, 111) solid 1px;
}

.textarea {
    width: 100%;
    height: 80px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
  }

  .button {
    background-color: #4CAF50;
    color: white;
    padding: 9px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }